In [1]:
import os
import pandas as pd
# log2(count+1)
import numpy as np

In [2]:
tsv_file = r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\TCGA-COAD.htseq_counts.tsv"

In [3]:
df = pd.read_csv(tsv_file, sep='\t')

In [4]:
df.head()

,Ensembl_ID,TCGA-DM-A288-01A,TCGA-QL-A97D-01A,TCGA-CM-6164-01A,TCGA-G4-6299-01A,TCGA-AA-3542-01A,TCGA-AZ-4615-01A,TCGA-AA-3549-01A,TCGA-AY-4071-01A,TCGA-CM-4752-01A,...,TCGA-A6-5661-01B,TCGA-G4-6295-01A,TCGA-AA-A01C-01A,TCGA-G4-6588-01A,TCGA-A6-2680-01A,TCGA-AA-3977-01A,TCGA-AA-3561-01A,TCGA-AA-3973-01A,TCGA-A6-6653-01A,TCGA-AA-3555-01A
0,ENSG00000000003.13,10.985842,12.391512,13.857787,9.807355,11.945810,11.198445,12.779514,13.194449,13.308197,...,9.025140,11.719817,10.959278,10.745674,11.896711,10.777255,12.537218,13.066426,11.440350,10.808964
1,ENSG00000000005.5,3.700440,7.531381,6.714246,1.000000,4.700440,1.000000,5.392317,6.339850,4.321928,...,1.000000,0.000000,3.169925,0.000000,4.643856,4.247928,4.643856,4.087463,2.584963,0.000000
2,ENSG00000000419.11,11.163650,11.798472,12.496354,11.004220,10.139551,9.908393,10.202124,10.658211,10.812177,...,7.965784,12.240791,9.226412,10.348728,9.753217,9.436712,10.927778,10.238405,9.598053,10.090112
3,ENSG00000000457.12,9.262095,9.581201,9.419960,9.903882,6.303781,8.247928,8.022368,8.129283,8.055282,...,8.668885,9.044394,6.357552,8.894818,8.044394,7.727920,9.342075,9.033423,8.285402,8.787903
4,ENSG00000000460.15,8.303781,9.350939,9.310613,9.501837,6.569856,7.442943,7.936638,7.584963,7.629357,...,7.614710,8.643856,6.247928,9.079485,8.299208,7.247928,9.428360,7.942515,8.426265,8.317413

In [5]:
col_names = []
for index, row in df.iteritems():
    col_names.append(index)

In [6]:
for col_name in col_names[1:]:
#     print(df[col_name])
    df[col_name] = df[col_name].map(lambda x: 2**x - 1)

In [7]:
df.head()

,Ensembl_ID,TCGA-DM-A288-01A,TCGA-QL-A97D-01A,TCGA-CM-6164-01A,TCGA-G4-6299-01A,TCGA-AA-3542-01A,TCGA-AZ-4615-01A,TCGA-AA-3549-01A,TCGA-AY-4071-01A,TCGA-CM-4752-01A,...,TCGA-A6-5661-01B,TCGA-G4-6295-01A,TCGA-AA-A01C-01A,TCGA-G4-6588-01A,TCGA-A6-2680-01A,TCGA-AA-3977-01A,TCGA-AA-3561-01A,TCGA-AA-3973-01A,TCGA-A6-6653-01A,TCGA-AA-3555-01A
0,ENSG00000000003.13,2027.0,5372.0,14845.0,895.0,3944.0,2349.0,7030.0,9373.0,10142.0,...,520.0,3372.0,1990.0,1716.0,3812.0,1754.0,5943.0,8577.0,2778.0,1793.0
1,ENSG00000000005.5,12.0,184.0,104.0,1.0,25.0,1.0,41.0,80.0,19.0,...,1.0,0.0,8.0,0.0,24.0,18.0,24.0,16.0,5.0,0.0
2,ENSG00000000419.11,2293.0,3561.0,5777.0,2053.0,1127.0,960.0,1177.0,1615.0,1797.0,...,249.0,4839.0,598.0,1303.0,862.0,692.0,1947.0,1207.0,774.0,1089.0
3,ENSG00000000457.12,613.0,765.0,684.0,957.0,78.0,303.0,259.0,279.0,265.0,...,406.0,527.0,81.0,475.0,263.0,211.0,648.0,523.0,311.0,441.0
4,ENSG00000000460.15,315.0,652.0,634.0,724.0,94.0,173.0,244.0,191.0,197.0,...,195.0,399.0,75.0,540.0,314.0,151.0,688.0,245.0,343.0,318.0

In [8]:
new_col_names = []
for col_name in col_names:
    if "TCGA" in col_name:
        new_col_names.append(col_name[:12])
    else:
        new_col_names.append(col_name)
# 457

In [9]:
# from pandas.core.frame import DataFrame

# c={"a" : new_col_names}#将列表a，b转换成字典
# data=DataFrame(c)#将字典转换成为数据框
# # print(data)
# data.to_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\4_all.csv", index=False)

In [10]:
len(new_col_names)

513

In [11]:
col_dict = {}
for idx, col in enumerate(col_names):
    col_dict[col] = new_col_names[idx]

In [12]:
df.rename(columns=col_dict, inplace = True)

In [13]:
col_names = []
for index, row in df.iteritems():
    col_names.append(index)
len(col_names)

513

In [14]:
col_names_list = []
del_col_names = []
for idx, col_name in enumerate(col_names):
    if col_name not in col_names_list:
        col_names_list.append(col_name)
    else:
        del_col_names.append(col_name)
len(col_names_list), len(del_col_names)

(457, 56)

In [15]:
# 去重
df = df.loc[:,~df.columns.duplicated()]

In [16]:
df.shape[1]

457

In [17]:
# del_idxs

In [18]:
df.head()

,Ensembl_ID,TCGA-DM-A288,TCGA-QL-A97D,TCGA-CM-6164,TCGA-G4-6299,TCGA-AA-3542,TCGA-AZ-4615,TCGA-AA-3549,TCGA-AY-4071,TCGA-CM-4752,...,TCGA-AA-3502,TCGA-AA-A02E,TCGA-G4-6295,TCGA-AA-A01C,TCGA-G4-6588,TCGA-AA-3977,TCGA-AA-3561,TCGA-AA-3973,TCGA-A6-6653,TCGA-AA-3555
0,ENSG00000000003.13,2027.0,5372.0,14845.0,895.0,3944.0,2349.0,7030.0,9373.0,10142.0,...,3545.0,2337.0,3372.0,1990.0,1716.0,1754.0,5943.0,8577.0,2778.0,1793.0
1,ENSG00000000005.5,12.0,184.0,104.0,1.0,25.0,1.0,41.0,80.0,19.0,...,10.0,16.0,0.0,8.0,0.0,18.0,24.0,16.0,5.0,0.0
2,ENSG00000000419.11,2293.0,3561.0,5777.0,2053.0,1127.0,960.0,1177.0,1615.0,1797.0,...,477.0,911.0,4839.0,598.0,1303.0,692.0,1947.0,1207.0,774.0,1089.0
3,ENSG00000000457.12,613.0,765.0,684.0,957.0,78.0,303.0,259.0,279.0,265.0,...,331.0,393.0,527.0,81.0,475.0,211.0,648.0,523.0,311.0,441.0
4,ENSG00000000460.15,315.0,652.0,634.0,724.0,94.0,173.0,244.0,191.0,197.0,...,150.0,247.0,399.0,75.0,540.0,151.0,688.0,245.0,343.0,318.0

In [19]:
new_del_col_names = list(set(del_col_names))
len(new_del_col_names)

53

In [20]:
df.head()

,Ensembl_ID,TCGA-DM-A288,TCGA-QL-A97D,TCGA-CM-6164,TCGA-G4-6299,TCGA-AA-3542,TCGA-AZ-4615,TCGA-AA-3549,TCGA-AY-4071,TCGA-CM-4752,...,TCGA-AA-3502,TCGA-AA-A02E,TCGA-G4-6295,TCGA-AA-A01C,TCGA-G4-6588,TCGA-AA-3977,TCGA-AA-3561,TCGA-AA-3973,TCGA-A6-6653,TCGA-AA-3555
0,ENSG00000000003.13,2027.0,5372.0,14845.0,895.0,3944.0,2349.0,7030.0,9373.0,10142.0,...,3545.0,2337.0,3372.0,1990.0,1716.0,1754.0,5943.0,8577.0,2778.0,1793.0
1,ENSG00000000005.5,12.0,184.0,104.0,1.0,25.0,1.0,41.0,80.0,19.0,...,10.0,16.0,0.0,8.0,0.0,18.0,24.0,16.0,5.0,0.0
2,ENSG00000000419.11,2293.0,3561.0,5777.0,2053.0,1127.0,960.0,1177.0,1615.0,1797.0,...,477.0,911.0,4839.0,598.0,1303.0,692.0,1947.0,1207.0,774.0,1089.0
3,ENSG00000000457.12,613.0,765.0,684.0,957.0,78.0,303.0,259.0,279.0,265.0,...,331.0,393.0,527.0,81.0,475.0,211.0,648.0,523.0,311.0,441.0
4,ENSG00000000460.15,315.0,652.0,634.0,724.0,94.0,173.0,244.0,191.0,197.0,...,150.0,247.0,399.0,75.0,540.0,151.0,688.0,245.0,343.0,318.0

In [21]:
df0 = pd.read_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\低.csv", encoding='gbk')
m0_list = list(df0['Ensembl_ID'])
df1 = pd.read_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\高.csv", encoding='gbk')
m1_list = list(df1['Ensembl_ID'])

In [22]:
len(m0_list),len(m1_list)

(217, 218)

In [26]:
col_names = []
for index, row in df.iteritems():
    col_names.append(index)
len(col_names)

457

In [27]:
jiyin_names = col_names[1:]

In [28]:
len(jiyin_names)

456

In [32]:
# len(m0_list)

In [31]:
m0_names = []
m0_not_list = []
for _name in jiyin_names:
    if _name in m0_list:
        m0_names.append(_name)
    
len(m0_names)

217

In [32]:
m1_names = []
m1_not_list = []
for _name in jiyin_names:
    if _name in m1_list:
        m1_names.append(_name)
# for _name in m1_list:
#     m1_names.append(_name)
    
len(m1_names)

218

In [36]:
m0_names = ["Ensembl_ID"]
m0_not_list = []
for _name in m0_list:
    if _name in col_names:
        m0_names.append(_name)
    else:
        m0_not_list.append(_name)
len(m0_names), len(m0_not_list)

(218, 0)

In [37]:
m1_names = ["Ensembl_ID"]
m1_not_list = []
for _name in m1_list:
    if _name in col_names:
        m1_names.append(_name)
    else:
        m1_not_list.append(_name)
len(m1_names), len(m1_not_list)

(219, 0)

In [38]:
# m0_not_list

In [39]:
# m1_not_list

In [40]:
m0_df = df[m0_names]
print(m0_df.shape[1])
m0_df.to_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\low_all.csv", index=False)

218

In [41]:
m1_df = df[m1_names]
print(m1_df.shape[1])
m1_df.to_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\high_all.csv", index=False)

219

In [31]:
import shutil

In [33]:
for _file in m1_not_list:
    src_path = os.path.join(r"G:\基础+AI\切片数据分类\M1", _file)
    tar_path = os.path.join(r"G:\基础+AI\切片数据分类-未用\M1", _file)
    shutil.move(src_path, tar_path)

In [83]:
m1_not_list

['TCGA-AA-3695']

In [42]:
import pandas as pd

genes = pd.read_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\sample0817\DESeq2_gene_diff_all_0817.csv", header = 0, index_col=None)

gene_list = []

for i in range(len(genes)):
    if genes.padj[i] < 0.05 and abs(genes.log2FoldChange[i]) > 1:
        gene_list.append(str(genes.gene_id[i]).split(sep='.')[0])

gene_list = pd.DataFrame(data = {"gene_id" : gene_list})
gene_list.to_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\sample0817\Diff_genes_all.csv")

In [43]:
# 生成基因名

In [1]:
from BCBio import GFF
path = r"F:\01 科研项目数据-2022\06-基础AI\human.gtf"
from BCBio import GFF
from collections import Counter

In [ ]:
biotype = []

in_handle = open(path,'r')

for rec in GFF.parse(in_handle):
    for feature in rec.features:
        if feature.type == "gene":
            biotype.append(feature.qualifiers['gene_biotype'][0])
            
in_handle.close()
len(biotype)
biotype[0:15]

Counter(biotype)

In [2]:
def get_gene_info(gencode_filename):
    gene_dict = {}
    with open(gencode_filename, "r") as gencode_file, open("gene_dict.csv", "w+") as gene_dict_file:
        effective_genes_num = 0

        for line in gencode_file:  # read line by line

            if line[0:3] != "chr":  # skip useless lines
                continue

            # separate line into 9 parts
            # …… \t …… \t line_info_type \t …… \t …… \t …… \t …… \t …… \t gene_info \t
            line_info = line.split("\t")
            if line_info[2] != "gene":  # skip unimportant lines
                continue

            # eg.gene_id "ENSG00000223972.5"; gene_type "transcribed_unprocessed_pseudogene"; gene_name "DDX11L1"; ……
            gene_info = line_info[8].split(" ")
            gene_id = gene_info[1].split(".")[0][1:]
            gene_name = gene_info[5][1:-2]

            gene_dict[gene_id] = gene_name
            gene_dict_info = gene_id + "," + gene_name + "\n"
            gene_dict_file.write(gene_dict_info)

            effective_genes_num += 1

        print("Effective genes number found in " + gencode_filename + " is " + str(effective_genes_num))
        return gene_dict


def transformENSGid(gencode_filename, tcga_filename):
    gene_dict = get_gene_info(gencode_filename)

    transformedENSGid_num = 0

    with open(tcga_filename, "r") as tcga_data, open("TCGAfpkm_transformed.xls", "w+") as new_tcga_data_file:
        for line in tcga_data:

            if line[0:4] != "ENSG":  # skip useless lines
                new_tcga_data_file.write(line)
                continue

            # separate line into several parts
            line_info = line.split("\t")

            # get gene_id
            gene_id = line_info[0].split(".")[0]

            # transform
            try:
                line_info[0] = gene_dict[gene_id]
            except:
                continue  # skip useless lines

            # generate new line
            new_line = "\t"
            new_line = new_line.join(line_info)
            new_tcga_data_file.write(new_line)

            transformedENSGid_num += 1

        print("Transformed ENSGID in " + tcga_filename + " is " + str(transformedENSGid_num) + ".")

In [3]:
gene_dict = get_gene_info(r"F:\01 科研项目数据-2022\06-基础AI\human.gtf")

Effective genes number found in F:\01 科研项目数据-2022\06-基础AI\human.gtf is 0

In [4]:
gencode_filename = r"F:\01 科研项目数据-2022\06-基础AI\human.gtf"

In [5]:
gene_dict = {}
with open(gencode_filename, "r") as gencode_file:
    effective_genes_num = 0
    for line in gencode_file: 
        if line[0:2] == "#!":
            continue
#         print(line)
        line_info = line.split("\t")
        
        if line_info[2] != "gene":  # skip unimportant lines
            continue
        gene_info = line_info[8].split(" ")
        gene_id = gene_info[1]
        gene_name = gene_info[5]

        gene_id=gene_id.replace('"','')
        new_gene_id=gene_id.replace(';','')
        gene_name=gene_name.replace('"','')
        new_gene_name=gene_name.replace(';','')
        gene_dict[new_gene_id] = new_gene_name
        effective_genes_num += 1

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv(r"F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\sample0817\Diff_genes_all.csv")
gennames = []
for index, row in df.iterrows():
    gend_id = row[1]
    try:
        genname = gene_dict[gend_id]
    except:
        print(gend_id)
        genname = ""
    
    gennames.append(genname)

ENSG00000219448
ENSG00000233878
ENSG00000249430
ENSG00000255354
ENSG00000255778
ENSG00000258486
ENSG00000264604
ENSG00000275301
ENSG00000276104
ENSG00000276933
ENSG00000276967
ENSG00000279877
ENSG00000280696
ENSG00000280888
ENSG00000281239

In [9]:
df['gene_name'] = gennames
df.to_csv(r'F:\01 科研项目数据-2022\06-基础AI\TCGA-COAD-counts\sample0817\Diff_genes_name0817.csv', index=False, float_format="string")

In [2]:
def round_of_rating(number):
    """Round a number to the closest half integer.
    >>> round_of_rating(1.3)
    1.5
    >>> round_of_rating(2.6)
    2.5
    >>> round_of_rating(3.0)
    3.0
    >>> round_of_rating(4.1)
    4.0"""

    return round(number * 2) / 2

In [11]:
round_of_rating(1.76)

2.0

In [12]:
a = [1]

In [26]:
a.append(6)
a

[1, 2, 2, 2, 2, 2, 4, 6]

In [27]:
a[-5:]

[2, 2, 2, 4, 6]